// theme colors
$primary: #0061ff !default;
$primary-light: #66a0ff !default;
$primary-dark: #003a99 !default;
$primary-gradient: #60efff !default;
$accent: #ff930f !default;
$accent-gradient: #ffF95B !default;
$bg-color: whitesmoke;
$text-color: #0b0b0b;

