@use '../abstract' as *;

%navbar {
    display: block;
    text-align: center;
}

%navlink {
    color: $lightest;
    text-decoration: none;
}

.nav {
    margin-bottom: 1em;
    padding: 0.2em 2em;
    overflow: hidden;
    background-color: $darkest;
}

.name {
    @extend %navbar;
    padding-top: 0.3em;
    float: left;
    color: $text-color-light;
    font-family: $serif;
    font-weight: 700;
    font-size: 1.8em;

    a {
        @extend %navlink;
        &:hover {
            background-image: linear-gradient(135deg, $accent, $accent-gradient);
            color: transparent;
            background-clip: text;
        }
    }
}

.navitem {
    @extend %navbar;
    padding: 1em 0;
    float: right;

    a {
        @extend %navlink;
        padding: 2em 1em;
        &:hover {
            background-image: linear-gradient(135deg, $accent , $accent-gradient);
            color: $primary;
        }
    }

}