@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&family=Varta:wght@300..700&display=swap');

$serif: 'Gelasio', serif;

$sans: 'Spline Sans', sans-serif;

$sans-narrow: 'Varta', sans-serif;

$mono: 'Spline Sans Mono', monospace;