@use 'components' as *;
@use 'abstract' as *;

html {
    background-image: linear-gradient($primary , $primary-gradient);
    background-size: 100% 100%;
    background-size: cover;
    min-height: 100%;
    font-family: $sans;
    color: $darkest;
}